mule-app/teams/src/main/mule/teams.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                        http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
                        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <wsc:config name="Web_Service_Consumer_Config">
        <wsc:connection
            wsdlLocation="teams.wsdl"
            service="TeamsService"
            port="TeamsServicePort"
            address="http://localhost:18090/wsdl" />
    </wsc:config>

    <flow name="createTeamFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/teams" allowedMethods="POST" />
        <logger level="INFO" message="=== INCOMING REQUEST ===" />
        <logger level="INFO" message="Payload type: #[typeOf(payload)]" />
        <logger level="INFO" message="Payload: #[payload]" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://i.ejb.service.ejb/
---
{
  ns0#createTeam: {
    ns0#team: {
      ns0#id: payload.id,
      ns0#name: payload.name,
      ns0#humans: {
        ns0#item: payload.humans
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="=== TRANSFORMED XML ===" />
        <logger level="INFO" message="XML: #[write(payload, 'application/xml')]" />
        <wsc:consume config-ref="Web_Service_Consumer_Config" operation="createTeam" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://i.ejb.service.ejb/
var team  = payload.body.ns0#createTeamResponse.team
var items = team.humans.*item
---
{
  name: team.name,
  humans: items map ($ as Number),
  isDeleted: team.isDeleted as Boolean
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- ================================================================= -->
    <!-- ................................................................. -->
    <!-- ================================================================= -->

    <flow name="getTeamFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/teams/{id}" allowedMethods="GET" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://i.ejb.service.ejb/
---
{
    ns0#getTeam: {
        ns0#id: attributes.uriParams.id as Number
    }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume config-ref="Web_Service_Consumer_Config" operation="getTeam" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://i.ejb.service.ejb/
var team  = payload.body.ns0#getTeamResponse.team
var items = team.humans.*item
---
{
  id: team.id as Number,
  name: team.name,
  humans: items map ($ as Number),
  isDeleted: team.isDeleted as Boolean
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- ================================================================= -->
    <!-- ................................................................. -->
    <!-- ================================================================= -->

    <flow name="deleteTeamFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/teams/{id}" allowedMethods="DELETE" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://i.ejb.service.ejb/
---
{
    ns0#deleteTeam: {
        ns0#id: attributes.uriParams.id as Number
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume config-ref="Web_Service_Consumer_Config" operation="deleteTeam" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://i.ejb.service.ejb/
var team  = payload.body.ns0#deleteTeamResponse.team
var items = team.humans.*item
---
{
  id: team.id as Number,
  name: team.name,
  humans: items map ($ as Number),
  isDeleted: team.isDeleted as Boolean
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- ================================================================= -->
    <!-- ................................................................. -->
    <!-- ================================================================= -->

    <flow name="addMemberFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/teams/{teamId}/members/{humanId}"
            allowedMethods="POST" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://i.ejb.service.ejb/
---
{
    ns0#addMember: {
        ns0#teamId: attributes.uriParams.teamId as Number,
        ns0#humanId: attributes.uriParams.humanId as Number
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume config-ref="Web_Service_Consumer_Config" operation="addMember" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://i.ejb.service.ejb/
var team  = payload.body.ns0#addMemberResponse.team
var items = team.humans.*item
---
{
  id: team.id as Number,
  name: team.name,
  humans: items map ($ as Number),
  isDeleted: team.isDeleted as Boolean
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- ================================================================= -->
    <!-- ................................................................. -->
    <!-- ================================================================= -->

    <flow name="removeMemberFromTeamFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/teams/{teamId}/members/{humanId}"
            allowedMethods="DELETE" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://i.ejb.service.ejb/
---
{
    ns0#removeMemberFromTeam: {
        ns0#teamId: attributes.uriParams.teamId as Number,
        ns0#humanId: attributes.uriParams.humanId as Number
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume config-ref="Web_Service_Consumer_Config" operation="removeMemberFromTeam" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://i.ejb.service.ejb/
var team  = payload.body.ns0#removeMemberFromTeamResponse.team
var items = team.humans.*item
---
{
  id: team.id as Number,
  name: team.name,
  humans: items map ($ as Number),
  isDeleted: team.isDeleted as Boolean
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>